@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #cccccc;
  margin: 0;
}

.container {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  padding: 30px;
}

.left {
  width: 240px;
  background-color: #404042;
  color: #b6b6b6;
}

.photo,
.photo img {
  margin: auto;
  display: block;
}

.cv-name {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: right;
  color: #f50028;
  margin: 20px 0;
}

.cv-title {
  font-size: 1em;
  text-transform: uppercase;
  text-align: right;
  color: #d3d3d3;
  margin: 10px 0;
}

section>h2 {
  text-transform: uppercase;
  border-bottom: #404042 2px solid;
  font-size: 1.4em;
}

section>h2::after {
  content: "";
  border-bottom: #f50028 6px solid;
  display: block;
  width: 60px;
}

.left section>h2 {
  border-bottom-color: #b6b6b6;
}

address {
  font-style: normal;
}

address ul {
  padding: 0;
  line-height: 2;
}

address li {
  padding: 0;
  list-style: none;
}

address a {
  color: #b6b6b6;
}

.right {
  width: 100%;
  background-color: #b8b8b8;
  color: #303032;
}

.right a {
  color: #000000;
}

footer {
  background-color: #303032;
  color: #6f6a6a;
}

.footer-left {
  width: 100%;
}

footer .col {
  padding: 20px;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 320px;
    margin: 0 auto;
    color: #303032;
  }
  .row {
    display: block;
  }
  .col {
    padding: 10px;
  }
  .left {
    width: 300px;
    background-color: #b8b8b8;
    color: #303032;
  }
  .left section>h2 {
    border-bottom-color: #404042;
  }
  .right {
    width: 300px;
    background-color: #b8b8b8;
    color: #303032;
  }
  .cv-title {
    color: #303032;
  }
  address a {
    color: #303032;
  }
  footer {
    text-align: center;
    color: #b8b8b8;
  }
  footer address a {
    color: #b8b8b8;
  }
  footer .col {
    padding: 0px;
  }
}
